.btn-primary {
    background-color: $primary;
    color: #FCF7F8;
    border-radius: 8px;
    &:hover {
      background-color: darken($primary, 10%);
      color: #CED3DC;
    }
  }

  .password-toggle {
    border-color: #ced4da;
    background-color: transparent; 

    &:hover {
      background-color: #CED3DC;
    }
    
    .password-icon {
      color: #3E4C5E; 
    }
  
    &:hover {
      .password-icon {
        color: darken(#3E4C5E, 10%);
      }
    }
  }