#navlogo {
    height: 14vh;
    padding-right: 20vw;
}

.navlinks {
    width: 30%;
    justify-content: space-around;
    display: flex;
    padding-left: 20vw;
    float: right;
}

nav {
    font-size: 1.5em;
    display: flex;
    height: 14vh;
    justify-content: space-around;
    align-items: center;
}




