:root {
  --primary-color: #fcf7f8;
  --secondary-color: #111d13;  --nav-color: #fcf7f8;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.App {
  text-align: center;
}

.App-header {
  /* background: linear-gradient(-45deg, #387990, #67aabf); */
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(20px + 2vmin);
  /* color: #113033; */
}